@media (max-width: 1240px) {
  .container {
    width: 1040px;
  }
  .my__properties {
    &-content {
      &-table {
        display: flex;
        align-items: center;
        justify-content: center;
        th:not(:first-child):not(:last-child) {
          display: none;
        }
        tr:not(:first-child) {
          td:not(:first-child):not(:last-child) {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 1040px) {
  .container {
    width: 840px;
  }
}

@media (max-width: 840px) {
  .container {
    width: 640px;
  }
  nav {
    .nav__content {
      gap: 200px;
    }
  }
  .my__properties {
    padding: 0 10px;
    &-content {
      &-table {
        table {
          padding: 24px 16px;
        }
        // th:last-child {
        //   display: none;
        // }

        tr:not(:first-child) {
          // td:first-child{
          //   position: relative;
          // }
          td:last-child {
            .table__trashEdit {
              gap: 2px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .container {
    width: 440px;
  }
  nav {
    .nav__content {
      gap: 100px;
      ul {
        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
  .my__properties {
    &-content {
      &-search {
        form {
          display: none;
        }
      }

      &-table {
        tr:not(:first-child) {
          td:first-child {
            padding: 0;
          }
          .table__properties {
            .table__properties-img {
              background: red;
              width: 91px;
              height: 91px;
            }
            &-forSale {
              display: none;
            }
            .table__properties-date {
              width: 172px;
              h1,
              h2 {
                font-size: 12px;
              }
              p {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  main {
    .main-properties__content {
      &-contactInformation,
      &-additional,
      &-price,
      &-location {
        
        form{
          input,
            textarea,
            select {
              width: 358px;
            }
        }
        form {
          div {
            input,
            textarea,
            select {
              width: 358px !important;
            }
          }
        }
      }

      &-media{
        align-items: center;
        &-images{
          align-items: center;
          div{
            justify-content: center;
            span{
              justify-content: center;
            }
          }
        }
      }

      
    }
  }
}
@media (max-width: 440px) {
  .container {
    width: 100%;
  }
  nav {
    position: relative;
    .nav__content {
      justify-content: space-between;
      &-bar {
        display: block;
      }
      &-list {
        ul {
          li {
            a {
              font-size: 12px;
            }
          }
          display: none;
        }
        &-userIcon {
          display: block;
          position: absolute;
          top: 25px;
          right: 10px;
        }
      }
    }
  }
  .my__properties {
    &-content {
      &-search {
        h1 {
          font-size: 22px;
        }
        form {
          display: none;
        }
      }

      &-table {
        table {
          // width: 100%;
          padding: 4px;
          tr {
            position: relative;
            th {
              font-size: 14px;
            }
          }
        }
        tr:first-child {
          th:last-child {
            display: none;
          }
        }
        tr:not(:first-child) {
          td:first-child {
            padding: 0;
          }
          td:last-child {
            // display:none;
            width: 10px;
          }
          .table__trashEdit {
            // display: ;
            position: absolute;
            top: 50px;
            right: 10px;
          }
          .table__properties {
            .table__properties-img {
              width: 71px;
              height: 71px;
              span {
                font-size: 8px;
                width: 60px;
                padding: 5px;
              }
            }
            &-forSale {
              display: none;
            }
            .table__properties-date {
              width: 172px;
              h1,
              h2 {
                // width: 100%;
                font-size: 10px;
              }
              p {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  main {
    .main-properties{
      padding: 10px !important;
    }
    .main-properties__content {
      h1 {
        font-size: 20px;
      }
      h2 {
        font-size: 16px;
      }
      label,
      input,
      select,
      textarea {
        font-size: 10px;
      }
      &-contactInformation {
        form {
          
          span {
            flex-wrap: wrap;
          }
        }
      }
      &-contactInformation,
      &-additional,
      &-price,
      &-location {
        iframe{
          height: 170px;
        }
        form{
          input,
            textarea,
            select {
              width: 290px;
            }
        }
        form {
          div {
            input,
            textarea,
            select {
              width: 290px !important;
            }
          }
        }
      }
    }
  }

  footer {
    
    .footer__content {
      h2{
        font-size: 14px;
      }
      ul {
        li {
          font-size: 10px;

          a {
            width: 100%;
            font-size: 10px;
          }
        }
      }
    }
    .footer__contentDate-copyright{
      p{
        font-size: 10px;
      }
      div{
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media (max-width: 370px){
  nav{
    .nav__content{
      &-logo{
        img{
          transform: translateX(-40px);
        }
      }
    }
  }
  main {
    .main-properties__content {
      &-contactInformation,
      &-additional,
      &-price,
      &-location {
        
        form{
          input,
            textarea,
            select {
              width: 220px;
            }
        }
        form {
          div {
            input,
            textarea,
            select {
              width: 228px !important;
            }
          }
        }
      }
    }
  }
}