:root{
    --Navbar-color: #0D263B;
    --title-color: #0D263B;
    --input-plasholder:  #696969;
    --input-border-color: #E6E9EC;
    --input-border-hover-color: #0061DF;
    --img-box-bg: #C4C4C4;
}